.logo {
  width: 80px;
  height: 40px;
  cursor: pointer;
  text-decoration: none;

  &__top,
  &__bottom {
    height: 50%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
  }

  &__top {
    color: #fff;
  }

  &__bottom {
    background-color: #fff;
    color: #2196f3;
  }
}