.card-container {
  margin: 0.1%;
  flex: 0 0 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  perspective: 25rem;
  cursor: pointer;

  &:hover>.card {
    transform: translateZ(2rem);
    box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.6);
  }


  &.flipped>.card {
    transform: rotateY(-180deg) translateX(-100%);
    transform-origin: left;
  }

}

.card {
  position: relative;
  width: 168px;
  height: 168px;
  transform-style: preserve-3d;
  transform-origin: right;
  transition: all 0.5s;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.25rem black;

  &__front,
  &__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: inherit;
  }

  &__front {
    background-position: center;
    background-size: cover;
  }

  &__back {
    background-color: gray;
    background-image: url('../../assets/card-back.png');
    background-position: center;
    background-size: cover;
    transform: rotateY(-180deg);
  }
}
