* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  min-height: 100vh;
  color: #000;
  background-color: #ffffff;
}

main {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

