body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

header {
  box-sizing: border-box;
  width: 84%;
  height: 45px;
  max-width: 1350px;
  margin-bottom: 40px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &.hidden {
    display: none;
  }

  & span {
    display: block;
    margin-bottom: 8px;
    width: 50px;
    height: 6px;
    border-radius: 3px;
    background: gray;
  }
}

.nav {
  position: absolute;
  left: -500px;
  top: 0;
  width: 240px;
  height: 100%;
  background: linear-gradient(45deg, #646ec0, #c468c7);
  list-style-type: none;
  color: white;
  font-size: 24px;
  opacity: 0;
  z-index: 10;
  transition: all 0.5s ease;
  margin-top: 0;

  &.play {
    background: linear-gradient(225deg, #fa709a 0%, #fee140 100%);
  }

  .nav-item {
    margin-bottom: 20px;
  }

  & a:link,
  & a:visited {
    color: white;
    text-decoration: none;
  }

  .close {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 10;
    cursor: pointer;

    & img {
      width: 26px;
      height: 26px;
    }
  }

  & li:nth-of-type(1) {
    margin-top: 100px;
  }
}

.nav-item.active {
  text-decoration: underline;
}

.nav.active {
  margin-top: 0;
  z-index: 10;
  left: 0;
  top: 0;
  opacity: 1;
}

main {
  max-width: 1350px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 125px - 100px);
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  perspective: 6000px;

  &__card {
    width: 300px;
    height: 280px;
    background-color: gray;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    border-radius: 5px;
    // background: linear-gradient(180deg, #0099ae, #00bf82 40%, #fff 0, #fff);
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s;


    &.play {
      background: linear-gradient(180deg, #fa709a, #fee140 40%, #fff 0, #fff);
    }
    
    &.train {
      background: linear-gradient(180deg, #646ec0, #c468c7 40%, #fff 0, #fff);
    }

    &:hover {
      box-shadow: 0 10px 20px rgb(0 0 0 / 40%);
    }

    &.words.play {
      background: white;
    }
    &.words.train {
      background: white;
    }

    &_picture.checked {
      opacity: 0.5;
    }

    &_img {
      margin-top: 20px;
      width: 140px;
      height: 140px;
      border-radius: 50%;
      border: 10px solid white;

      &.actionSetA {
        background: url(./../public/img/dance.jpg) center / 150% no-repeat;
      }

      &.actionSetB {
        background: url(./../public/img/swim.jpg) center / 150% no-repeat;
      }

      &.actionSetC {
        background: url(./../public/img/drop.jpg) center / 150% no-repeat;
      }

      &.adjective {
        background: url(./../public/img/friendly.jpg) center / 150% no-repeat;
      }

      &.animalSetA {
        background: url(./../public/img/cat.jpg) center / 150% no-repeat;
      }

      &.animalSetB {
        background: url(./../public/img/bird.jpg) center / 150% no-repeat;
      }

      &.fruits {
        background: url(./../public/img/pear.jpg) center / 150% no-repeat;
      }

      &.vegetables {
        background: url(./../public/img/pepper.jpg) center / 150% no-repeat;
      }
    }
  }
}

.game-mode {
  .toggle {
    position: relative;
    width: 140px;
    height: 35px;
    border: 5px solid #e9e9e9;
    border-radius: 40px;
  }

  .toggle input {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    width: 120px;
    height: 34px;
  }

  .toggle input:checked~.btn {
    left: 74px;
  }

  .toggle input:checked~.bg {
    background: linear-gradient(180deg, #646ec0, #c468c7);
  }

  .toggle .btn {
    display: block;
    position: absolute;
    z-index: 4;
    top: -4px;
    left: -5px;
    width: 65px;
    height: 35px;
    background: linear-gradient(rgba(253, 253, 253, 1) 0%, rgba(255, 255, 255, 1) 3%, rgba(252, 252, 252, 1) 13%, rgba(228, 228, 228, 1) 50%, rgba(221, 221, 221, 1) 55%, rgba(208, 208, 208, 1) 85%, rgba(205, 205, 205, 1) 100%);
    border: 2px solid #e8e8e8;
    border-radius: 50px;
    box-shadow: 0 5px 5px rgba(50, 50, 50, 0.2);
    transition: left 0.25s ease;
  }

  .toggle .btn:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12.5px;
    margin-left: -12.5px;
    width: 25px;
    height: 25px;
    box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.08);
    background: #e3e3e3;
    border-radius: 50px;
  }

  .toggle .labels {
    position: absolute;
    top: 10px;
    z-index: 2;
    width: 100%;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }

  .toggle .labels:before {
    content: "Train";
    position: absolute;
    left: 12px;
  }

  .toggle .labels:after {
    content: "Play";
    position: absolute;
    right: 12px;
  }

  .toggle .bg {
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(180deg, #fa709a 0%, #fee140 100%);
  }
}

.words {
  box-sizing: border-box;
  position: relative;
  background: none;

  .cards__card_picture {
    width: 100%;
    height: 230px;
    position: absolute;
    top: 0;
    border-radius: 5px 5px 0 0;
  }

  .word {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;

    & span {
      width: 100%;
    }
  }


  & img {
    width: 30px;
  }
}

.words.flipped {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.words {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 1s;
  transition: 1s;
}

.words .face {
  width: 300px;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  z-index: 2;
}

.words .face.play {
  width: 300px;
  height: 100%;
  box-sizing: border-box;
}

.cards__card_picture.play {
  width: 300px;
  height: 100%;
  border-radius: 5px;
}

.words .front {
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.words .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  cursor: pointer;
}

.playButton {
  box-sizing: border-box;
  padding: 20px 25px;
  font-size: 24px;
  margin: 20px auto;
  width: 100%;
  max-width: 650px;
  height: 65px;
  background: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  color: #fff;
  border-radius: 10px;
  outline: 0 !important;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;

  &:hover {
    box-shadow: 0 4px 10px rgb(0 0 0 / 30%);
  }

  &.active {
    width: 65px;
    font-size: 0;
    background-image: url('./../public/icon/repeat.svg'), linear-gradient(to right, #fa709a 0%, #fee140 100%);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 32px 32px, cover;
    background-position: 50%;
  }
}

footer {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding: 8px;
}

footer.play {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

footer.train {
  background: linear-gradient(to right,  #646ec0, #c468c7);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.github {
  display: block;
  width: 120px;
  height: 45px;
  padding-left: 45px;
  background-image: url(./../public/icon/github.svg);
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: left center;
  line-height: 45px;
  color: white;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  transition: 0.3s;
}

.rss {
  display: block;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  width: 100px;
  height: 35px;
  background-image: url(./../public/icon/rss.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  padding-right: 25px;
}

.rss-year {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 21px;
  letter-spacing: -2px;
  color: white;
  line-height: 0.9;
  font-weight: bold;
  transition: 0.3s;
}

.star-field {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  overflow-x: hidden;
  min-height: 50px;
  width: 90vw;
  max-width: 1250px;

  & img {
    height: 50px;
  }
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 0;
  margin: -1px;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}
