.menu {
  display: flex;
  align-items: center;

  &__item {
    display: block;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 96px;
    height: 64px;
  }
  &__item.active {
    background-color: #2F80ED;
  }
  &__icon {
    width: 30px;
    height: 30px;
  }
  &__icon_about {
    background: url(../../../../public/images/icons/menu__icon_about.svg) top center no-repeat;
  }
  &__icon_score {
    background: url(../../../../public/images/icons/menu__icon_score.svg) top center no-repeat;
  }
  &__icon_settings {
    background: url(../../../../public/images/icons/menu__icon_settings.svg) top center no-repeat;
  }
  &__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
  }
}