.cards-field {
  width: 1100px;
  height: 802px;
  padding: 100px 30px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.05);
}