.cards-field {
  max-width: 1000px;
  height: 802px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.05);
}